In [11]:
import numpy as np
import pandas as pd
import os
import sys
project_root = os.path.abspath(os.path.join(os.getcwd(), ".."))
sys.path.append(project_root)
from src.data_profiling import InclusionDataProfiler

In [12]:
df = pd.read_csv("../data/raw/ethiopia_fi_unified_data.csv", index_col=0, parse_dates=True)
impact_df = pd.read_csv("../data/raw/Impact_sheet.csv", index_col=0, parse_dates=True)

C:\Users\Birhanu Matebe\AppData\Local\Temp\ipykernel_16540\337708288.py:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df = pd.read_csv("../data/raw/ethiopia_fi_unified_data.csv", index_col=0, parse_dates=True)
C:\Users\Birhanu Matebe\AppData\Local\Temp\ipykernel_16540\337708288.py:2: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  impact_df = pd.read_csv("../data/raw/Impact_sheet.csv", index_col=0, parse_dates=True)

In [13]:

# --- Execution ---
profiler = InclusionDataProfiler(df, impact_df)
profiler.run_all()

====== SCHEMA & RECORD TYPE SUMMARY ======

             Count
record_type
event           10
observation     30
target           3

--- Pillar Distribution ---

               Count
pillar
ACCESS            16
USAGE             11
GENDER             5
AFFORDABILITY      1

====== TEMPORAL RANGE ======
Observations Range: 2014-12-31 to 2025-12-31
Total Events Cataloged: 10

                                        indicator observation_date
record_id
EVT_0001                          Telebirr Launch       2021-05-17
EVT_0009                  NFIS-II Strategy Launch       2021-09-01
EVT_0002     Safaricom Ethiopia Commercial Launch       2022-08-01
EVT_0003                   M-Pesa Ethiopia Launch       2023-08-01
EVT_0004         Fayda Digital ID Program Rollout       2024-01-01
EVT_0005          Foreign Exchange Liberalization       2024-07-29
EVT_0006      P2P Transaction Count Surpasses ATM       2024-10-01
EVT_0007             M-Pesa EthSwitch Integration       2025-10-27
EVT_0010        Safaricom Ethiopia Price Increase       2025-12-15
EVT_0008   EthioPay Instant Payment System Launch       2025-12-18

====== INDICATOR COVERAGE ======

                                       value_numeric                \
                                               count          mean
indicator
4G Population Coverage                             2  5.415000e+01
ATM Transaction Count                              1  1.193000e+08
ATM Transaction Value                              1  1.561000e+11
Account Ownership Gender Gap                       2  1.900000e+01
Account Ownership Rate                             7  4.485714e+01
Data Affordability Index                           1  2.000000e+00
EthioPay Instant Payment System Launch             0           NaN
Fayda Digital ID Enrollment                        4  3.125000e+07
Fayda Digital ID Program Rollout                   0           NaN
Female Mobile Money Account Share                  2  3.200000e+01
Foreign Exchange Liberalization                    0           NaN
M-Pesa 90-Day Active Users                         1  7.100000e+06
M-Pesa EthSwitch Integration                       0           NaN
M-Pesa Ethiopia Launch                             0           NaN
M-Pesa Registered Users                            1  1.080000e+07
Mobile Money Account Rate                          2  7.075000e+00
Mobile Money Activity Rate                         1  6.600000e+01
Mobile Phone Gender Gap                            1  2.400000e+01
Mobile Subscription Penetration                    1  6.140000e+01
NFIS-II Strategy Launch                            0           NaN
P2P Transaction Count                              2  8.900000e+07
P2P Transaction Count Surpasses ATM                0           NaN
P2P Transaction Value                              1  5.777000e+11
P2P/ATM Crossover Ratio                            1  1.080000e+00
Safaricom Ethiopia Commercial Launch               0           NaN
Safaricom Ethiopia Price Increase                  0           NaN
Telebirr Launch                                    0           NaN
Telebirr Registered Users                          1  5.484000e+07
Telebirr Transaction Value                         1  2.380000e+12

                                                                    \
                                                 min           max
indicator
4G Population Coverage                  3.750000e+01  7.080000e+01
ATM Transaction Count                   1.193000e+08  1.193000e+08
ATM Transaction Value                   1.561000e+11  1.561000e+11
Account Ownership Gender Gap            1.800000e+01  2.000000e+01
Account Ownership Rate                  2.200000e+01  7.000000e+01
Data Affordability Index                2.000000e+00  2.000000e+00
EthioPay Instant Payment System Launch           NaN           NaN
Fayda Digital ID Enrollment             8.000000e+06  9.000000e+07
Fayda Digital ID Program Rollout                 NaN           NaN
Female Mobile Money Account Share       1.400000e+01  5.000000e+01
Foreign Exchange Liberalization                  NaN           NaN
M-Pesa 90-Day Active Users              7.100000e+06  7.100000e+06
M-Pesa EthSwitch Integration                     NaN           NaN
M-Pesa Ethiopia Launch                           NaN           NaN
M-Pesa Registered Users                 1.080000e+07  1.080000e+07
Mobile Money Account Rate               4.700000e+00  9.450000e+00
Mobile Money Activity Rate              6.600000e+01  6.600000e+01
Mobile Phone Gender Gap                 2.400000e+01  2.400000e+01
Mobile Subscription Penetration         6.140000e+01  6.140000e+01
NFIS-II Strategy Launch                          NaN           NaN
P2P Transaction Count                   4.970000e+07  1.283000e+08
P2P Transaction Count Surpasses ATM              NaN           NaN
P2P Transaction Value                   5.777000e+11  5.777000e+11
P2P/ATM Crossover Ratio                 1.080000e+00  1.080000e+00
Safaricom Ethiopia Commercial Launch             NaN           NaN
Safaricom Ethiopia Price Increase                NaN           NaN
Telebirr Launch                                  NaN           NaN
Telebirr Registered Users               5.484000e+07  5.484000e+07
Telebirr Transaction Value              2.380000e+12  2.380000e+12

                                       observation_date
                                                    min        max
indicator
4G Population Coverage                       2023-06-30 2025-06-30
ATM Transaction Count                        2025-07-07 2025-07-07
ATM Transaction Value                        2025-07-07 2025-07-07
Account Ownership Gender Gap                 2021-12-31 2024-11-29
Account Ownership Rate                       2014-12-31 2025-12-31
Data Affordability Index                     2024-12-31 2024-12-31
EthioPay Instant Payment System Launch       2025-12-18 2025-12-18
Fayda Digital ID Enrollment                  2024-08-15 2028-12-31
Fayda Digital ID Program Rollout             2024-01-01 2024-01-01
Female Mobile Money Account Share            2024-12-31 2030-12-31
Foreign Exchange Liberalization              2024-07-29 2024-07-29
M-Pesa 90-Day Active Users                   2024-12-31 2024-12-31
M-Pesa EthSwitch Integration                 2025-10-27 2025-10-27
M-Pesa Ethiopia Launch                       2023-08-01 2023-08-01
M-Pesa Registered Users                      2024-12-31 2024-12-31
Mobile Money Account Rate                    2021-12-31 2024-11-29
Mobile Money Activity Rate                   2024-12-31 2024-12-31
Mobile Phone Gender Gap                      2024-12-31 2024-12-31
Mobile Subscription Penetration              2025-12-31 2025-12-31
NFIS-II Strategy Launch                      2021-09-01 2021-09-01
P2P Transaction Count                        2024-07-07 2025-07-07
P2P Transaction Count Surpasses ATM          2024-10-01 2024-10-01
P2P Transaction Value                        2025-07-07 2025-07-07
P2P/ATM Crossover Ratio                      2025-07-07 2025-07-07
Safaricom Ethiopia Commercial Launch         2022-08-01 2022-08-01
Safaricom Ethiopia Price Increase            2025-12-15 2025-12-15
Telebirr Launch                              2021-05-17 2021-05-17
Telebirr Registered Users                    2025-06-30 2025-06-30
Telebirr Transaction Value                   2025-06-30 2025-06-30

====== DATA QUALITY (NULLS & CONFIDENCE) ======

                     Missing           %
category                  33   76.744186
pillar                    10   23.255814
indicator_direction       10   23.255814
value_numeric             10   23.255814
value_text                33   76.744186
unit                      10   23.255814
period_start              33   76.744186
period_end                33   76.744186
region                    43  100.000000
source_url                12   27.906977
related_indicator         43  100.000000
relationship_type         43  100.000000
impact_direction          43  100.000000
impact_magnitude          43  100.000000
impact_estimate           43  100.000000
lag_months                43  100.000000
evidence_basis            43  100.000000
collection_date           33   76.744186
original_text             10   23.255814
notes                     43  100.000000

--- Confidence Level Distribution ---

            Count
confidence
high           40
medium          3

====== IMPACT LINK RELATIONSHIPS ======
Total Relationships Captured: 14

impact_direction    decrease  increase
related_indicator
ACC_4G_COV                 0         1
ACC_MM_ACCOUNT             0         1
ACC_OWNERSHIP              0         2
AFF_DATA_INCOME            1         2
GEN_GAP_ACC                1         0
USG_MPESA_ACTIVE           0         1
USG_MPESA_USERS            0         1
USG_P2P_COUNT              0         3
USG_TELEBIRR_USERS         0         1