In [2]:
import numpy as np
import pandas as pd
import os
import sys
project_root = os.path.abspath(os.path.join(os.getcwd(), ".."))
sys.path.append(project_root)
from src.data_profiling import InclusionDataProfiler
from src.logging_config import logging

2026-02-01 19:40:58,529 - INFO - Logging Initialized

In [3]:
df = pd.read_excel("../data/raw/ethiopia_fi_unified_data.xlsx")
# Read the specific impact sheet
impact_df = pd.read_excel(
    "../data/raw/ethiopia_fi_unified_data.xlsx", 
    sheet_name="Impact_sheet", 
    index_col=0, 
    parse_dates=True
)
logging.info("load the original dataset from ../data/raw/ ")

C:\Users\Birhanu Matebe\AppData\Local\Temp\ipykernel_8456\3158219256.py:3: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  impact_df = pd.read_excel(
2026-02-01 19:40:59,342 - INFO - load the original dataset from ../data/raw/

In [4]:

# --- Execution ---
profiler = InclusionDataProfiler(df, impact_df)
profiler.run_all()
logging.info("====== SCHEMA & RECORD TYPE SUMMARY ======")
logging.info("--- Pillar Distribution ---")
logging.info("====== TEMPORAL RANGE ======")
logging.info("====== INDICATOR COVERAGE ======")
logging.info("====== DATA QUALITY (NULLS & CONFIDENCE) ======")
logging.info("--- Confidence Level Distribution ---")
logging.info("====== IMPACT LINK RELATIONSHIPS ======")

2026-02-01 19:40:59,364 - INFO - InclusionDataProfiler initialized successfully.
2026-02-01 19:40:59,366 - INFO - Full profiling suite started.
2026-02-01 19:40:59,367 - INFO - Running schema overview...

ðŸš€ Starting Full Data Profiling Suite...


====== SCHEMA & RECORD TYPE SUMMARY ======

             Count
record_type
event           10
observation     30
target           3

--- Pillar Distribution ---

               Count
pillar
ACCESS            16
USAGE             11
GENDER             5
AFFORDABILITY      1

2026-02-01 19:40:59,414 - INFO - Running temporal analysis...
2026-02-01 19:40:59,423 - INFO - Observation range: 2014-12-31 00:00:00 to 2025-12-31 00:00:00
2026-02-01 19:40:59,429 - INFO - Total Events Cataloged: 10

====== TEMPORAL RANGE ======
Observations Range: 2014-12-31 â†’ 2025-12-31
Total Events Cataloged: 10

                                 indicator observation_date
33                         Telebirr Launch       2021-05-17
41                 NFIS-II Strategy Launch       2021-09-01
34    Safaricom Ethiopia Commercial Launch       2022-08-01
35                  M-Pesa Ethiopia Launch       2023-08-01
36        Fayda Digital ID Program Rollout       2024-01-01
37         Foreign Exchange Liberalization       2024-07-29
38     P2P Transaction Count Surpasses ATM       2024-10-01
39            M-Pesa EthSwitch Integration       2025-10-27
42       Safaricom Ethiopia Price Increase       2025-12-15
40  EthioPay Instant Payment System Launch       2025-12-18

2026-02-01 19:40:59,448 - INFO - Running indicator coverage analysis...

====== INDICATOR COVERAGE ======

,count,mean,min,max,first_date,last_date
indicator,,,,,,
4G Population Coverage,2,5.415000e+01,3.750000e+01,7.080000e+01,2023-06-30,2025-06-30
ATM Transaction Count,1,1.193000e+08,1.193000e+08,1.193000e+08,2025-07-07,2025-07-07
ATM Transaction Value,1,1.561000e+11,1.561000e+11,1.561000e+11,2025-07-07,2025-07-07
Account Ownership Gender Gap,2,1.900000e+01,1.800000e+01,2.000000e+01,2021-12-31,2024-11-29
Account Ownership Rate,7,4.485714e+01,2.200000e+01,7.000000e+01,2014-12-31,2025-12-31
Data Affordability Index,1,2.000000e+00,2.000000e+00,2.000000e+00,2024-12-31,2024-12-31
EthioPay Instant Payment System Launch,0,NaN,NaN,NaN,2025-12-18,2025-12-18
Fayda Digital ID Enrollment,4,3.125000e+07,8.000000e+06,9.000000e+07,2024-08-15,2028-12-31
Fayda Digital ID Program Rollout,0,NaN,NaN,NaN,2024-01-01,2024-01-01
Female Mobile Money Account Share,2,3.200000e+01,1.400000e+01,5.000000e+01,2024-12-31,2030-12-31
Foreign Exchange Liberalization,0,NaN,NaN,NaN,2024-07-29,2024-07-29
M-Pesa 90-Day Active Users,1,7.100000e+06,7.100000e+06,7.100000e+06,2024-12-31,2024-12-31
M-Pesa EthSwitch Integration,0,NaN,NaN,NaN,2025-10-27,2025-10-27
M-Pesa Ethiopia Launch,0,NaN,NaN,NaN,2023-08-01,2023-08-01
M-Pesa Registered Users,1,1.080000e+07,1.080000e+07,1.080000e+07,2024-12-31,2024-12-31
Mobile Money Account Rate,2,7.075000e+00,4.700000e+00,9.450000e+00,2021-12-31,2024-11-29
Mobile Money Activity Rate,1,6.600000e+01,6.600000e+01,6.600000e+01,2024-12-31,2024-12-31
Mobile Phone Gender Gap,1,2.400000e+01,2.400000e+01,2.400000e+01,2024-12-31,2024-12-31
Mobile Subscription Penetration,1,6.140000e+01,6.140000e+01,6.140000e+01,2025-12-31,2025-12-31
NFIS-II Strategy Launch,0,NaN,NaN,NaN,2021-09-01,2021-09-01
P2P Transaction Count,2,8.900000e+07,4.970000e+07,1.283000e+08,2024-07-07,2025-07-07
P2P Transaction Count Surpasses ATM,0,NaN,NaN,NaN,2024-10-01,2024-10-01
P2P Transaction Value,1,5.777000e+11,5.777000e+11,5.777000e+11,2025-07-07,2025-07-07
P2P/ATM Crossover Ratio,1,1.080000e+00,1.080000e+00,1.080000e+00,2025-07-07,2025-07-07
Safaricom Ethiopia Commercial Launch,0,NaN,NaN,NaN,2022-08-01,2022-08-01
Safaricom Ethiopia Price Increase,0,NaN,NaN,NaN,2025-12-15,2025-12-15
Telebirr Launch,0,NaN,NaN,NaN,2021-05-17,2021-05-17
Telebirr Registered Users,1,5.484000e+07,5.484000e+07,5.484000e+07,2025-06-30,2025-06-30
Telebirr Transaction Value,1,2.380000e+12,2.380000e+12,2.380000e+12,2025-06-30,2025-06-30

2026-02-01 19:40:59,485 - INFO - Running missing value + confidence profiling...

====== DATA QUALITY (NULLS & CONFIDENCE) ======

                     Missing  Percent (%)
category                  33    76.744186
pillar                    10    23.255814
indicator_direction       10    23.255814
value_numeric             10    23.255814
value_text                33    76.744186
unit                      10    23.255814
period_start              33    76.744186
period_end                33    76.744186
region                    43   100.000000
source_url                12    27.906977
related_indicator         43   100.000000
relationship_type         43   100.000000
impact_direction          43   100.000000
impact_magnitude          43   100.000000
impact_estimate           43   100.000000
lag_months                43   100.000000
evidence_basis            43   100.000000
collection_date           33    76.744186
original_text             10    23.255814
notes                     43   100.000000

--- Confidence Level Distribution ---

            Count
confidence
high           40
medium          3

====== IMPACT LINK RELATIONSHIPS ======
Total Relationships Captured: 14

impact_direction    decrease  increase
related_indicator
ACC_4G_COV                 0         1
ACC_MM_ACCOUNT             0         1
ACC_OWNERSHIP              0         2
AFF_DATA_INCOME            1         2
GEN_GAP_ACC                1         0
USG_MPESA_ACTIVE           0         1
USG_MPESA_USERS            0         1
USG_P2P_COUNT              0         3
USG_TELEBIRR_USERS         0         1

2026-02-01 19:40:59,515 - INFO - Impact link review completed successfully.
2026-02-01 19:40:59,516 - INFO - Full profiling suite completed successfully.
2026-02-01 19:40:59,519 - INFO - ====== SCHEMA & RECORD TYPE SUMMARY ======
2026-02-01 19:40:59,521 - INFO - --- Pillar Distribution ---
2026-02-01 19:40:59,523 - INFO - ====== TEMPORAL RANGE ======
2026-02-01 19:40:59,524 - INFO - ====== INDICATOR COVERAGE ======
2026-02-01 19:40:59,525 - INFO - ====== DATA QUALITY (NULLS & CONFIDENCE) ======
2026-02-01 19:40:59,527 - INFO - --- Confidence Level Distribution ---
2026-02-01 19:40:59,528 - INFO - ====== IMPACT LINK RELATIONSHIPS ======

âœ… Profiling Completed Successfully.


- Multiple load attempts were logged, confirming dataset availability and stable ingestion.

Log evidence:

- `load the original dataset from ../data/raw/`

This step established the foundation for schema inspection and quality checks before enrichment.

---

## 1.2 Schema & Record Type Summary

Once loaded, the profiling pipeline generated a full structural breakdown of the dataset:

- Schema validation was executed
- Record categories were identified
- Pillar-level organization was confirmed

Log marker:

- `====== SCHEMA & RECORD TYPE SUMMARY ======`

This ensured that the dataset followed the expected unified format for financial inclusion indicators.

---

## 1.3 Pillar Distribution Profiling

The dataset was organized across inclusion pillars such as:

- **Access**
- **Usage**
- **Infrastructure**
- (and linked impact categories)

The profiling stage produced a pillar distribution report:

Log marker:

- `--- Pillar Distribution ---`

This confirmed that records were correctly grouped into analytical domains.

---

## 1.4 Temporal Range Assessment

A temporal profiling check was executed to identify:

- The earliest available year
- The most recent observation year
- Gaps in time-series coverage

Log marker:

- `====== TEMPORAL RANGE ======`

This step was critical to understanding survey cycles and missing measurement periods.

---

## 1.5 Indicator Coverage Review

The profiling workflow then assessed indicator completeness:

- Which financial inclusion metrics were present
- Which pillars were underrepresented
- Coverage density across years

Log marker:

- `====== INDICATOR COVERAGE ======`

This allowed validation that the dataset contained sufficient indicators for EDA and forecasting.

---

## 1.6 Data Quality Checks (Nulls & Confidence Levels)

To evaluate reliability, the dataset underwent a quality scan including:

- Null value detection
- Confidence scoring distribution
- Identification of low-certainty proxy records

Log marker:

- `====== DATA QUALITY (NULLS & CONFIDENCE) ======`

Confidence profiling output:

- `--- Confidence Level Distribution ---`

This confirmed that the dataset integrates both:

- Official high-confidence sources (e.g., World Bank, NBE)
- Medium-confidence real-time proxies (e.g., telecom data, news)

---

## 1.7 Impact Link Relationship Validation

Before enrichment, the dataset also contained relational structures connecting indicators to policy or outcome impacts.

Log marker:

- `====== IMPACT LINK RELATIONSHIPS ======`

This ensured that inclusion metrics could later be connected to strategic interventions.

---